/* Users List */

body {
  margin: 30px;
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  margin: 20px 20px 20px 10px;
}

.users-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.user-item {
  display: flex;
  list-style: none;
}

.user-item button {
  width: 100%;
  border: none;
  background-color: #eeeeee;
  box-shadow: 5px 5px #1111112c;
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 7px;
  padding: 15px;
  color: #111111;
  font-size: 18px;
}

.user-avatar {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  margin-right: 15px;
}

/* Users List Page Nav*/
.pagination-nav li {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 30px 10px;
}

.pagination-nav .page-button {
  vertical-align: middle;
  margin: 5px;
  padding: 10px;
  width: 20px;
  height: 20px;
  box-sizing: content-box;
  background-color: #eeeeee;
  border-radius: 100%;
  border: none;
}

.pagination-nav button.disabled {
  background-color: #b8b8b8;
  display: none;
}
 
/* The Modal (background) */
.user-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 